*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  >div{
    height: calc(100vh - 90px);
    margin: 20px auto;
    .row{
      margin: 0;
    }
  }
  div{
    border: 1px solid;
    padding: 0;
    &.Toolbar{
      border: none;
      display: flex;
      margin: 0;
    }
  }
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
