@import "~bootstrap/scss/bootstrap";
.Toolbar {
  text-align: center;
  background:$dark ;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  >div{
    width: 110px;
    display: flex;
    &#childQtd,&#size{
      margin-top: 25px!important;
      margin-bottom: 10px!important;
      &::before{
        position: absolute;
        width: 100%;
        text-align: center;
        top:-20px;
        color: white;
        font-size: 12px;
      }
    }
    &#childQtd{
      &::before{
        content:"Children";
      }
    }
    &#size{
      display: none;
      &::before{
        content:"Size";
      }
    }
    >div{
      &#size{
        display: unset;
      }
    }
  }
  div{
    border: none;
  }
  button,input,input:disabled{
    background: rgba(0,0,0,0.4);
    color:white;
    border: black;
  }
  input,input:disabled{
    background: rgba(0,0,0,0.3);
    text-align: center;
  }
  span{
    width: 100%;
  }
  .Toolbar{
    &#size{
      display: none;
      &::before{
        content:"Size";
      }
    }
  }
}
.App div div div .Toolbar{
  >div{
    &#size{
      display: flex;
      &::before{
        content:"Size";
      }
    }
  }
}
